body{
    background-image: url(./alone.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 30px;
    
   
}


#single{
    border: 2px solid black;
   border-width:0.05cm;
    border-radius: 10px;
    text-align: center;
   padding: 10px;
   margin: 10px;
   transition:2s;
   background-color: rgba(0, 50, 131, 0.179);
}
#single:hover{
    background-color:lightsteelblue;
    cursor: pointer;
}
#group{
    display: flex;
  justify-content: space-evenly;
  background-image: url(./bike.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 20px;
    margin:0%;
}
#img{
    width: 10cm;
    height: 5cm;
    border:solid 2px;
}
#caption{
    text-decoration: solid;
    text-transform: capitalize;
    font-family: cursive;
    font-weight: bold;
}

#end{
    border:solid;
    background-image:url(./bike.jpg);
    justify-items: center;
    text-align: center;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#e{
    border: solid ;
    background-image: url(./end.jpg);
    
    background-repeat: no-repeat

}
#para{
    font-family: cursive ;
    font-weight:100 ;
}
#n{
    display: flex;
}
